@font-face {
  font-family: 'Larken';
  font-weight: 700;
  src: url('./fonts/Larken-Bold.otf') format(openType);
}

.app {
  font-family: "Larken";
}

.footer {
  background-image: url('./assets/footer-bg.png');
  /* background-position: contain; */
  background-repeat: no-repeat;
}