@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Larken";
  font-weight: bold;
  src:  url('./font/Larken-Bold.ttf');
}

@font-face {
  font-family: 'Larken';
  font-weight: bolder;
  src: url('./font/Larken-ExtraBold.otf');
}

@font-face {
  font-family: 'Larken';
  src: url('./font/Larken-Variable.ttf');
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/ClashGrotesk-Bold.otf');
}

.app {
  font-family: ClashGrotesk, sans-serif;
  /* font-weight: bolder; */
}